#blue {
    background-color: rgb(4, 4, 90);
    position: relative;
    left: 0;
    right: 0;
    top: 0%;
    margin-top: 0%;
    height: 105px;
    display: flex;
}
#gray {
    font-family: Verdana, sans-serif;
    text-align: center;
    margin: auto;
    width: 28%;
    height: 46px;
    background-color: white;
    border: 1.5px solid red;
    padding: 2px;
}
#bluebox {
    margin: 0%;
    padding: 0%;
    font-size: 20px;
}
#graybox {
    font-size: 10px;
    font-weight: bold;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 30%;
}
.select_container{
    height: auto;
}
#select {
    font-size: 18px;
    font-family:'Poppins', sans-serif;
    font-weight:bold;
    margin-bottom: 0%;
    margin-top: 2%; 
    margin-right: 45%;
    position: relative;
    padding-top: 2%;
    padding-left: 4%;
}
#custom-select {
    margin-left: 4%;
    width: 26%;
}
#allnews{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 0%;
    margin-left: 27%;
    margin-right: 27%;
    position:relative; left:0px; top:30px;
    margin-bottom: -4%;
}
#subscribe{
    margin-left: 40%;
    margin-right: 32%;
    text-align: start;
    position:relative; left:-111px; top:0px; 
    font-size: 22px; 
    margin-bottom: -4%;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
}
#subscribe_click{
    margin-left: 80%;
    margin-right: 6%;
    text-align: start;
    position:relative; left:-106px; top:-18px; 
    font-size: 22px;
    margin-bottom: 0%;
}

#email{
    margin-left: 0%;
    margin-right: 59%;
    text-align: start;
    position:relative; left:54px; top:8px; 
    font-size: 22px;
}
.titile{
    margin: 15px auto;
    width: auto;
    height: 10%;
    padding: 10px;
}
img{
    float:left;
    width:238px;
    height: 223px;
    padding: 0 62px 0 0;
}
.title{
    height: 10px;
    margin-top: 0%;
}
.text{
    text-align: justify;
}
.button {
    background-color:orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 4%;
  }
  .footer {
    text-align: center;
    padding: 1px;
    background-color: rgb(11, 17, 67);
    color: white;
    margin-bottom:0%;
  }
  @media screen and (max-width: 1000px){
    .email_display{
        display: none;
    }
    #subscribe_click{
        display: none;
    }
  }
  @media screen and (max-width:380px) {
    #blue{
        width: 100%;
    }
    #select{
        font-size: 12px;
    }
    #allnews{
        width: 10%;
    }
    #custom-select{
        
        margin-left: 10%;
    }
  }
  @media screen and (max-width: 991px) {
    #allnews{
        font-size: 15px;

    }
    #custom-select{
        
        margin-left: 10%;
    }
    #custom-select{
        
        margin-left: 10%;
    }
    #email {
        display: block;
    }
    #subscribe{
        font-size: 10px;
        margin-left: 40%;
    }
}
  @media screen and (max-width: 520px) {
    #bluebox {
        font-size: 10px;
    }
    #graybox {
        font-size: 5px;
    }
    #select{
        font-size: 10px;
    }
    #allnews{
        font-size: 10px;
    }


}